.App-header {
  padding: 5px 2em;
  background-color: white;
}

.home-icon {
  height: 30px;
  width: 30px;
}

.mail-icon-container {
  height: 35px;
  width: 35px;
  background-image: url('../img/mail-icon.png');
  position: relative;
}

.notification-counter {
  position: absolute;
  top: -1px;
  left: 25px;
  background-color: red;
  padding: 5% 10%;
  color: white;
  font-size: smaller;
  border-radius: 50%;
}

.greet-user {
  text-transform: capitalize;
}

.user {
  font-weight: bolder;
}
