:root {
  --secondary-color: #3d6a49;
  --primary-color: #f8d548;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flexed-between,
.flexed-center {
  display: flex;
  align-items: center;
}

.flexed-between {
  justify-content: space-between;
}

.flexed-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/*  */

.homepage {
  background-image: linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)), url('../img/homepage-bg.jpg') !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero {
  /* height: 100%; */
  display: grid;
  place-items: center;
  padding: 2vw;
  flex-grow: 1;
}

.hero-bg {
  padding: 15px;
  background: linear-gradient(to bottom, rgba(111, 117, 88, 0.12), rgba(81,84,115, 0.33));
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: white;
}

.btn-padd {
  padding: 8px 16px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  font-size: small;
}